# ==========================
# Generated artifacts
# ==========================
artifacts/*
!artifacts/*.dvc
!artifacts/*.json

# ==========================
# Ignore large data files
# ==========================
data/raw/*.csv
data/processed/*.csv
data/transformed/*.csv
data/featured/*.csv
data/scaled/*.csv
data/split/*.csv

# ==========================
# Track DVC metadata
# ==========================
!data/raw/*.dvc
!data/processed/*.dvc
!data/transformed/*.dvc
!data/featured/*.dvc
!data/scaled/*.dvc
!data/split/*.dvc
mlflow.db
mlruns/
# ==========================
# Python cache
# ==========================
__pycache__/
*.py[cod]

# ==========================
# Logs
# ==========================
logs/
*.log